.layout-container {
  padding-left: 20vw;
  padding-right: 20vw;
}
body {
    background-color: white;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1300px) {
  .layout-container {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media screen and (max-width: 600px) {
  .layout-container {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}
