.test-h1 {
    text-align: center;
    font-size: 50px;
}

.articles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    text-decoration: none;
    color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Deux colonnes par ligne */
    gap: 30px;
}
.articles-container * img {
    object-fit: cover;
}
.articles-items-container {
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.article-item {
    background-color: white;
    border: 1px solid gainsboro;
    margin-bottom: 2rem;
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: max-content;
}

.author-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    margin-bottom: 1rem;
}

.author-profile-image {
    height: 50px;
    width: 50px;
    margin-right: 1rem;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
    border: 2px solid gainsboro;
}

.article-container {
    height: 100%;
    background-color: white;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 40px 20px 40px;
}

.article-details {
    height: max-content;
    width: 100%;
}

.article-title {
    margin-bottom: 1rem;
    font-weight: 300;
    font-size: 28px;
}

.comment-info {
    border-top: 1px solid gainsboro;
    padding-top: 1rem;
}

.comment-section {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.comment-count {
    margin-right: 0.4rem;
}

.comment-icon {
    display: none;
    margin-right: 1rem;
}

.article-subtitle,
.comment-section,
.author-details {
    color: rgba(0, 0, 0, 0.685);
}
@media screen and (max-width: 900px) {
    .articles-container {
        gap: 20px;
    }
}
@media screen and (max-width: 800px) {
    .articles-container {
        gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }
    .article-item {
        height: max-content;
        flex-direction: column;
    }

    .article-item>* {
        width: 100%;
    }

    .article-subtitle {
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 400px) {
   
    .article-item {
        border: none;
    }

}