.auth-layout {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 800px) {
    .auth-layout {
        height: 150vh;
    }

}
@media screen and (max-width: 400px) {
    .auth-layout {
        height: 120vh;
    }

}