.button-link-container {
    display: flex;
    justify-content: center;
    text-decoration: none;
    height: max-content;
    width: max-content;
}
.button {
    background-color: hotpink;
    margin: 2rem;
    padding: 14px 3.5rem 14px 3.5rem;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0.5rem;
}
.button:hover {
    transition: all ease 0.3s;
    background-color: rgba(255, 105, 180, 0.728);
}
.button-danger {
    background-color: #ff2929;
    padding: 14px 3.5rem 14px 3.5rem;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0.5rem;
}
.button-danger:hover {
    transition: all ease 0.3s;
    background-color: #ff2929bf;
}