.link-button {
    background-color: hotpink;
    margin: 3rem;
    padding: 14px 3.5rem 14px 3.5rem;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0.5rem;
}
.link-button:hover {
    transition: all ease 0.3s;
    padding: 16px 3.6rem 16px 3.6rem;
}