.button-link-container {
    background-color: black;
    margin: 2rem;
    padding: 14px 3.5rem 14px 3.5rem;
    color: white;
    border: 2px solid black;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.button-link-container:hover {
    transition: all ease 0.5s;
    background-color: white;
    color: black;
}

.button-danger {
    background-color: #ff2929;
    padding: 14px 3.5rem 14px 3.5rem;
    color: white;
    border: 2px solid #ff2929;
    font-size: 16px;
    cursor: pointer;
    
}

.button-danger:hover {
    transition: all ease 0.5s;
    background-color: white;
    color: #ff2929;
}