
.comment-item {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.comment-author {
    display: flex;
}
.comment-item:not(:last-child) {
    border-bottom: 1px solid gainsboro;   
}
  
.comment-author-image {
    margin-right: 0.5rem;
    border-radius: 100%;
    object-fit: cover;
    height: 45px;
    width: 45px;
}

.comment-published {
    margin-bottom: 1rem;
}
.comment-text {
    margin-left: 3.4rem;
}
@media screen and (max-width: 400px) {
    .comment-text {
        margin-left: 0;
    }
}