.header-navbar-container {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-links-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 22%;
    padding: 0;
    list-style: none;
}
.logout-button-container {
    display: none;
}

.navbar-links-container .auth-button-container {
    display: none;
}
.navbar-links-container .social-link-container {
    display: none;
}
.navbar-links-container>* {
    font-size: 12px;
    text-transform: uppercase;
}

.navbar-links-container>*>* {
    color: black;
    text-decoration: none;
}

.navbar-links-container>*>*:hover {
    color: rgb(189, 189, 189);
    transition: all 0.3s ease;
}

.activeLink {
    color: rgb(189, 189, 189);
}

.header-navbar-container .navbar-logo-container {
    position: relative;
    top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 26rem;
    border: 5px solid black;
    text-decoration: none;
    background-color: white;
    color: black;
}

.header-navbar-container .navbar-logo-container p {
    text-transform: uppercase;
    font-size: 32px;
    letter-spacing: 10px;
    font-weight: 700;
}

.navbar-auth-and-social-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 22%;
}

.auth-button-container {
    padding: 0;
    margin-right: 2rem;
    display: flex;
    color: black;
    border: none;
    width: 55%;
    cursor: pointer;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.auth-button-container p {
    font-size: 15px;
}

.auth-button-container img {
    height: 24px;
    width: 20%;
    position: relative;
    right: 0.5rem;
}

.social-link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.social-link-container a img {
    height: 17px;
    width: 17px;
}

.burger-button {
    display: none;
    background-color: transparent;
    border: none;
}

  

@media screen and (max-width: 1400px) {
    .header-navbar-container .navbar-logo-container {
        width: 20rem;

    }

    .header-navbar-container .navbar-logo-container p {
        font-size: 20px;
    }
}

@media screen and (max-width: 1300px) {

    .navbar-auth-and-social-container,
    .navbar-links-container {
        width: 24%;
    }
}

@media screen and (max-width: 1200px) {
    .header-navbar-container {
        flex-direction: row-reverse;
        
    }
    .navbar-links-container {
        width: 25%;
    }
    .social-link-container {
        width: 80%;
    }
    .social-link-container a img {
        height: 20px;
        width: 20px;
    }
    .header-navbar-container .navbar-logo-container {
        display: none;
    }

    .navbar-logo-container p {
        font-size: 40px;
    }

    .burger-button {
        width: 30px;
        height: 30px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
      
      .burger-button span {
        width: 100%;
        height: 4px;
        background-color: #333; /* Changez cette couleur selon vos besoins */
        transition: all 0.3s ease;
      }
      
      .burger-button.open span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
      }
      
      .burger-button.open span:nth-child(2) {
        opacity: 0;
      }
      
      .burger-button.open span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
      }

    .navbar-links-container {
        display: none;
    }

    .navbar-links-container.open {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 1;
        position: fixed; /* Positionne le conteneur par rapport à l'écran */
        top: 0; /* Positionne le haut du conteneur au sommet de l'écran */
        right: 0; /* Positionne le côté droit du conteneur à droite de l'écran */
        bottom: 0; /* Positionne le bas du conteneur en bas de l'écran */
        left: 0; /* Positionne le côté gauche du conteneur à gauche de l'écran */
        height: 100vh;
        width: 100vw;
        padding-bottom: 25rem;
        background-color: white;
      }
      .navbar-links-container>* {
        font-size: 18px;
        text-transform: uppercase;
    }
    .navbar-links-container>*>*:hover {
        color: hotpink;
        transition: all 0.3s ease;
    }
    
    .activeLink {
        color: hotpink;
    }

    .auth-button-container {
        display: none;
    }

    .navbar-links-container.open .auth-button-container {
        display: flex;
        position: relative;
        left: 1rem;
        justify-content: space-between;
        width: 6rem;
        text-transform: capitalize;
    }
    .navbar-links-container.open .logout-button-container {
        display: flex;
        position: relative;
        align-items: center;
        background-color: transparent;
        border: none;
        justify-content: space-between;
        width: 8rem;
        text-transform: capitalize;
    }
    .navbar-links-container.open .logout-button-container img {
        position: relative;
        right: 0.5rem;
    }
    .navbar-links-container.open .social-link-container {
        display: flex;
        width: 7rem;
    }
}

@media screen and (max-width: 1100px) {
    .navbar-logo-container p {
        font-size: 35px;
    }
}

@media screen and (max-width: 1000px) {
    .navbar-logo-container p {
        font-size: 30px;
    }
}

@media screen and (max-width: 900px) {
    .navbar-auth-and-social-container {
        width: 9rem;
    }
    .navbar-logo-container p {
        font-size: 25px;
    }
    .social-link-container {
        width: 100%;
    }
}
