.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: max-content;
    margin-bottom: 1rem;
}
.header-container .navbar-logo-container {
    display: none;
}
.header-container img {
    width: 100%;
    object-fit: cover;
}
@media screen and (max-width: 1200px) {
    .header-container .navbar-logo-container {
        display: flex;
        position: relative;
        top: 2.5rem;
        align-items: center;
        justify-content: center;
        height: 10vh;
        width: 90%;
        border: 5px solid black;
        text-decoration: none;
        background-color: white;
        color: black;
    }
    
    .header-container .navbar-logo-container p {
        text-transform: uppercase;
        font-size: 32px;
        letter-spacing: 10px;
        font-weight: 700;
    }
}
@media screen and (max-width: 500px) {
    .header-container img {
        width: 100vw;
    }
    .header-container .navbar-logo-container p {
        font-size: 25px;
    }
}
@media screen and (max-width: 440px) {
    .header-container .navbar-logo-container p {
        font-size: 20px;
    }
}
@media screen and (max-width: 380px) {
    .header-container .navbar-logo-container p {
        font-size: 15px;
    }
}
@media screen and (max-width: 300px) {
    .header-container .navbar-logo-container {
        top: 2rem;
        height: 8vh;
    }
    .header-container .navbar-logo-container p {
        font-size: 10px;
    }
}