.articles-items-container {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 5rem; */
}
.articles-items-container a {
    text-decoration: none;
    color: black;
}
.articles-items-container li {
    display: flex;
    height: 400px;
    margin: 20px 0 0 0;
    border: 2px solid rgba(240, 46, 170, 0.6);
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;

}
.author-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.post-container {
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 40px 20px 40px;
}
.post-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
}
.post-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
 }
  