.articles-items-container {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 100%;
    margin-top: 2rem;
}
.articles-items-container a {
    text-decoration: none;
    color: black;
}
.article-image {
    width: 50%;
    height: 100%;
    object-fit: cover;
}
.article-item {
    display: flex;
    height: 400px;
    width: 100%;
    border: 1px solid gainsboro;
}

.article-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: max-content;
}
.author-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    margin-bottom: 1rem;
}
.author-profile-image {
    height: 50px;
    width: 50px;
    margin-right: 1rem;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
    border: 2px solid gainsboro;
}
.post-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
 }
.article-container {
    height: 100%;
    background-color: white;
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 40px 20px 40px;
}
.article-details {
    height: max-content;
    width: 100%;
}
.article-title {
    margin-bottom: 1rem;
}
.comment-info {
    border-top: 1px solid gainsboro;
}